/* ==========================================================================
   Environment
   ========================================================================== */

body {
    margin: 0;
    background: #363036;
}

main {
    margin: 0;
    background: #363036;
    width: 100%;
    min-height: 100%;
    box-shadow: inset 0px 0px 100px hsla(259, 30%, 55%, 0.2);
}


 ::selection {
    background: hsla(259, 44%, 55%, 0.3);
}

 ::-moz-selection {
    background: hsla(259, 44%, 55%, 0.3);
}


@keyframes animated {
    50% {
        opacity: .5;
    }
}

@keyframes animatedBright {
    50% {
        filter: brightness(130%);
        box-shadow: 0px 0px 80px hsla(259, 44%, 55%, 0.4);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3) translateY(65%);
    }

    50% {
        opacity: 1;
        transform: scale(1.05) translateY(0%);
    }

    70% {
        transform: scale(.9) translateY(5%);
    }

    100% {
        transform: scale(1) translateY(0%);
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(1) translateY(0%);
    }

    50% {
        transform: scale(.9) translateY(-5%);
    }

    70% {
        opacity: 1;
        transform: scale(1.05) translateY(0%);
    }

    100% {
        opacity: 0;
        transform: scale(.3) translateY(-65%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pop-up {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==========================================================================
   Base
   ========================================================================== */

.glowing-edge {
    border: 1px solid #6a5298;
    border-right: 2px solid #6a5298;
    border-bottom: 2px solid #6a5298;
    box-shadow: 0px 0px 20px hsla(259, 44%, 55%, 0.6);
}

.title-box {
    padding: 12px 0px 8px 18px;
    letter-spacing: 8px;
    border-left: 2px solid #6a5298;
    border-bottom: 2px solid #6a5298;
    font-style: italic;
    font-family: monospace;
    font-weight: normal;
    text-transform: lowercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    color: #dad3da;
    margin-bottom: 0;
    margin-top: 0px;
    background: #4d3c70;
    background: -moz-linear-gradient(left, #4d3c70 0%, #4a3d51 100%);
    background: -webkit-linear-gradient(left, #4d3c70 0%, #4a3d51 100%);
    background: linear-gradient(to right, #4d3c70 0%, #4a3d51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3c70', endColorstr='#4a3d51', GradientType=1);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-area {
    padding: 20px;
    font-family: monospace;
    font-size: 14pt;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 30px;
    min-height: 358px;
    color: #F7F3F7;
    background: #1B181B;
    resize: none;
    text-rendering: optimizeLegibility;
    transition: all 400ms ease;
}

.text-area:focus,
.text-area {
    border: none !important;
    outline: none !important;
}

.text-area::-webkit-scrollbar {
    width: 1em;
}

.text-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px hsla(300, 6%, 43%, 0.5);
}

.text-area::-webkit-scrollbar-thumb {
    background-color: hsla(259, 44%, 55%, 0.4);
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #131113;
}

.info-box>* {
    flex-grow: 1;
    padding: 15px 20px;
}

.info {
    font-family: monospace;
    text-transform: uppercase;
    color: #AB9BAB;
}

.info-result-error {
    color: #CA402B;
    animation: animated 1500ms linear infinite;
}

.info-result {
    text-transform: lowercase;
}

.overlay {
    left: 0%;
    top: 0%;
    backface-visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: flex;
}

.error-border {
    border-color: #CA402B;
    box-shadow: 0px 0px 20px hsla(7, 64%, 48%, 0.4);
    animation: animated 900ms linear infinite;
}

.invert {
    filter: hue-rotate(180deg) invert(100%) brightness(85%) contrast(140%);
}

.bounce-in {
    animation: bounceIn 500ms 1;
    animation-fill-mode: forwards;
}

.bounce-out {
    animation: bounceOut 500ms 1;
    animation-fill-mode: forwards;
}

/* ==========================================================================
   Editor Content
   ========================================================================== */

.editor-overlay-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    transition: all 500ms ease-out;
    backface-visibility: hidden;
}

.editor-container {
    padding: 3% 5% 4.5%;
    width: 100%;
    margin-right: 160px;
    transition: all 1000ms ease;
}

.editor-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.editor-title {
    background-color: #4D3C70;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 12pt;
}

.editor-content {
    height: 60%;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14pt;
}

/* ==========================================================================
   Tool Box
   ========================================================================== */

.editor-toolbox {
    position: fixed;
    top: -100%;
    right: 10px;
    display: flex;
    flex-direction: column;
    transition: top 1000ms ease;
    color: #AB9BAB;
    font-family: monospace;
    box-shadow: 0px 0px 15px hsla(259, 44%, 55%, 0.6);
}

.editor-toolbox-title {
    letter-spacing: 5px;
    background: #1b181b !important;
}

.editor-tool {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 110px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 10pt;
}

.editor-tool:nth-child(odd) {
    background-color: #5C4785;
}

.editor-tool:nth-child(even) {
    background-color: #4D3C70;
}

.editor-tool:hover:not(.disabled) {
    background-color: #633fab;
    box-shadow: 0px 0px 50px hsla(259, 44%, 55%, 0.4);
    animation: animatedBright 1500ms linear infinite;
}

.editor-tool:hover {
    cursor: pointer;
}

.editor-tool.disabled {
    background-color: #615676;
    color: #2f272f;
}

/* ==========================================================================
   Preview Modal
   ========================================================================== */

.editor-preview-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editor-preview-border {
    width: 60%;
    margin-top: 10%;
    margin-right: 8%;
}

.editor-preview-content {
    width: 100%;
}

.info-preview {
    font-size: 12pt;
}

.info-preview:hover {
    color: #bb99ff;
    animation: animated 1500ms linear infinite;
    cursor: pointer;
}

.editor-preview-spin-icon {
    animation: spin 3000ms linear infinite;
    animation-play-state: paused;
}

/* ==========================================================================
   Keyword Modal
   ========================================================================== */

.editor-keyword-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editor-keyword-border {
    width: 70%;
    margin-top: 10%;
    margin-right: 8%;
}

.editor-keyword-content {
    width: 100%;
    min-height: unset;
    height: 120px;
    height: 120 !important;
    font-size: 18pt;
}

.info-keyword {
    font-size: 12pt;
}

.info-keyword:hover {
    color: #bb99ff;
    animation: animated 1500ms linear infinite;
    cursor: pointer;
}

/* ==========================================================================
   Syntax Rules
   ========================================================================== */

.syntax-highlight {
    font-weight: bolder;
    font-style: italic;
    font-size: 16pt;
}

.syntax-highlight-curly-left-sentence,
.syntax-highlight-curly-right-sentence,
.syntax-highlight-curly-left-right-sentence {
    color: #379a37 !important;
}

.syntax-highlight-curly-left-right-sentence {
    animation: animated 2500ms linear infinite;
}

.syntax-highlight-curly-right-wordspin,
.syntax-highlight-curly-left-wordspin {
    color: #7B59C0;
}

.syntax-highlight-vert-wordspin {
    color: #159393;
}

.syntax-highlight-vert-sentence {
    color: #A5FFA5;
    border: 2px dotted;
    padding: 2.5px;
    padding-bottom: 5px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    animation: animated 2500ms linear infinite;
}

.syntax-highlight-words-wordspin {
    font-size: 14pt;
    font-style: normal !important;
    font-weight: 300 !important;
    color: #BB995D;
}

.syntax-highlight-shortcode {
    font-size: 13pt;
    font-style: normal !important;
    font-weight: 300 !important;
    color: #516AEC;
}

.syntax-highlight-error {
    color: #CA402B;
    animation: animated 500ms linear infinite;
    border: .7px dashed;
    padding: 5px;
    font-style: normal;
}